<html ng-app="myShopping">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app.js"></script>
    <title>
    Creating Customized Service using Factory</title>
    </head>
    <body>
        
        <div ng-controller="ShoppingList1 as list1">
            <h3>Add items</h3>
        <input type="text" ng-model="list1.Iname" placeholder="name">
            <input type="text" ng-model="list1.Iqty" placeholder="quantity">
            <button ng-click="list1.addItem()">Add to List1</button><br>
            <ul>
                
            <li ng-repeat="item in list1.items">{{item.name}} of {{item.qty}}
                <button ng-click="list1.removeItem($index);">Remove</button></li>
            </ul>
            <div>Error: {{list1.errorMessage}}</div>
            
        </div>
           <h3>Add items ..Max limit 4</h3>
          <div ng-controller="ShoppingList2 as list2">
              <input type="number" ng-model="list2.limit" placeholder="limit"><br>
        <input type="text" ng-model="list2.Iname" placeholder="name">
            <input type="text" ng-model="list2.Iqty" placeholder="quantity">
              
            <button ng-click="list2.addItem()">Add to List2</button><br>
            <ul>
            <li ng-repeat="item in list2.items">{{item.name}} of {{item.qty}}
                <button ng-click="list2.removeItem($index);">Remove</button></li>
            </ul>
             <div>Error: {{list2.errorMessage}}</div>
        </div>
    
    </body>
</html>